<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>glad to have you, <%= @user.username %></h1>
    <p>
      we look forward to vibing with you
    </p>
  </body>
</html>